.tunnel-support{
    display:block;
    position:relative;
    margin:12.5% 25%;
    height: 50vh;
    width: 50vw;
    border-top: 25px groove brown;
    border-bottom: 25px groove brown;
    border-left: 25px ridge beige;
    border-right: 25px ridge beige;
    background: purple;
}